DB_NAME=pipperfood
DB_USER=postgres
DB_PASSWORD=cambiar_en_produccion
DB_HOST=db
DB_PORT=5432
SECRET_KEY=cambiar_en_produccion
PRINT_API_TOKEN=cambiar_en_produccion
DEBUG=False
LICENSE_SERVER_URL=http://pippercloud.local:8001
